# ========================
# Python
# ========================
# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# Python distribution and packaging
dist/
build/
.eggs/
*.egg-info/

# Configuration files for environment and packaging tools
Pipfile
Pipfile.lock
pyproject.toml
.pdm.toml

# ========================
# R
# ========================
# RStudio files
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Intermediate R Markdown files 
*.utf8.md
*.knit.md
*.Rmd~ 

# Local R packages
.RlibPaths()

# ========================
# SQL Databases
# ========================
# Ignore large database files
*.sqlite3
*.sqlitedb
*.psql
*.log
*.db

# ========================
# MongoDB
# ========================
# MongoDB data and log files
*.bson
*.json
*.log

# ========================
# VSCode
# ========================
# Ignore the entire folder by default
.vscode/

# Allow essential workspace settings
!.vscode/settings.json

# ========================
# macOS
# ========================
.DS_Store

# ========================
# Windows
# ========================
Thumbs.db
Desktop.ini

# ========================
# Temporary and Log Files
# ========================
*.log
*.tmp
*~
*.swp
*.swo

# ========================
# Data Structure
# ========================
# Track "data/" (scripts) and "output/" (reports), ignore large files in "datasets/"
datasets/    
!data/
!output/


# ========================
# Shell History
# ========================
.bash_history
.zsh_history

# ========================
# Machine Learning Models
# ========================
# Ignore model files and checkpoints
*.ckpt
*.h5
*.pkl

# ========================
# C and C++
# ========================
# Compiled and intermediate files
*.o
*.a
*.so
*.exe
*.dll
*.out
*.dSYM/
*.stackdump
